@page "/"
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1>The Gas Station of Sadness</h1>
<div class="col-md-6">
               <span><img src="/gasimage.PNG" alt="User Photo" /></span>
        </div>

@code {
    private bool isLogin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isLogin = Convert.ToBoolean(await jsRuntime.InvokeAsync<string>("localStorage.getItem", "isLogin"));
        if (!isLogin)
        {
            navigationManager.NavigateTo("/login");
        }
    }
}


